Wav2Lip/checkpoints/*
Wav2Lip/face_detection/detection/sfd/*
Wav2Lip/results/*
Wav2Lip/temp/*
Wav2Lip/sample_data/*
*pycache*
Wav2Lip/image_animation/checkpoint_imgAnimation/*
Wav2Lip/image_animation/movement_video.mp4
MakeItTalk/examples/*
MakeItTalk/examples_cartoon/*
