Wav2Lip/checkpoints/*
Wav2Lip/face_detection/detection/sfd/s3fd.pth
Wav2Lip/results/*
Wav2Lip/temp/*
Wav2Lip/sample_data/*
*pycache*
Wav2Lip/image_animation/checkpoint_imgAnimation/*
Wav2Lip/image_animation/movement_video.mp4
MakeItTalk/examples/*
MakeItTalk/examples_cartoon/*
deepvoice3*
resemble_tts/results*
resemble_tts/sample_data*
huggingface*
Audio-driven*
dataset/*
!dataset/*.sh
!dataset/*.py
subjective_study/*
google_stt_tts/text2vid-3d1ad0183321.json
Wav2Lip/google_fifo.sh
Wav2Lip/google_fiso.sh
Wav2Lip/resemble_fifo.sh
Wav2Lip/resemble_fiso.sh
Wav2Lip/resemble_siso.sh
lithe-hallway-304516-af6dab2d5e28.json
resemble_tts/resemble_config.json
Wav2Lip/lithe-hallway-304516-af6dab2d5e28.json
Wav2Lip/resemble_tts/resemble_config.json
